# AWS RDS MySQL example
SPRING_PROFILES_ACTIVE=local
DB_URL=jdbc:mysql://YOUR_RDS_ENDPOINT.rds.amazonaws.com:3306/vidya_db?useSSL=true&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=YOUR_USER
DB_PASSWORD=YOUR_PASSWORD
DB_SCHEMA=vidya_db
SERVER_PORT=8080
JWT_SECRET=ChangeThisToAVeryLongSecureSecretKeyForProductionUseAtLeast256BitsLong!!
